@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: Poppins, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-poppins: Poppins, sans-serif;
    --spacing: 0.25rem; 
}
